body {
    font-family: 'Roboto', sans-serif;
    padding-top: 60px;
}

.navbar-nav .nav-link {
    color: #fff; 
    background: linear-gradient(to right, #4e73df, #224abe); 
    border-radius: 18px; 
    padding: 8px 18px; 
    margin: 0 10px; /
    transition: all 0.3s ease; 
}

.navbar-nav .nav-link:hover {
    background: linear-gradient(to right, #224abe, #4e73df); /
    color: #fff; 
}

.banner img {
    width: 100%;
    height: auto;
}

h1{
    font-weight: bold;
}


.container {
    margin-top: 30px;
    justify-content: center;
   
}